button {
  margin-top: 40px;
  padding: 15px 30px;
  border-radius: 30px;
  border: 1px solid gray;
  color: gray;
  cursor: pointer;
  float: right;

  &:hover {
    background-color: white;
    color: black;
  }

  &:focus {
    outline: none;
  }
}